<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <!-- layout-h will adapt the layout position -->
<body class="layout-h" style="background-color:#063054; color:white">
   <div class="container-fluid" >
      <section>
         <!-- Page content-->
         <div>
            <%= yield %>
         </div>
      </section>
     
   </div>
</body>




</html>
